<div class="col-md-14">
  <h2 class="mb-4"> User Details</h2>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Birth date</th>
      <th>Delete</th>
      <th>Show</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.email}}</td>
      <td>{{user.birthDate}}</td>
      <!--<td>-->
      <!--<ul *ngFor="let role of user.roles">-->
      <!--<li style="list-style: none;">{{role}}</li>-->
      <!--</ul>-->
      <!--</td>-->
      <!--<td>-->
      <!--<ul *ngFor="let fest of user.festivals">-->
      <!--<li style="list-style: none;">{{fest.id}}</li>-->
      <!--</ul>-->
      <!--</td>-->
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteUser(user)"> Delete User</button>
      </td>
      <td><a routerLink="/users/{{user.id}}">
        <button class="btn btn-success mb-3 btn-sm" style="width: 120px;">Show</button>
      </a></td>
    </tr>
    </tbody>
  </table>
</div>

